[submodule "third_party/nugget"]
	path = third_party/nugget
	url = https://github.com/pcsx-redux/nugget.git
[submodule "third_party/psyq_iwyue"]
	path = third_party/psyq_iwyue
	url = https://github.com/Ay91169/psyq_iwyue.git
